/*
=================
Table of contents
=================

1. Custom Variables
2. Global Styles
3. Typography
4. Buttons
5. Colors
6. Forms
7. Header
8. Footer
9. Ad
10. Index page
11. Games page
12. About page
13. Contact page
14. Assassin page
15. Checkout page
16. Success page
17. Grid
18. Media Queries
18.1. Hamburger Menu
*/

/*
===================
1. Custom Variables
===================
*/

:root {
  --dark-blue: #1d2540;
  --dark-green: #01403a;
  --white-f2: #f2f2f2;
  --black: #0d0d0d;
  --fancy-green: #1aff00;
  --red: #f3a8a8;
  --light-blue: #2d3e77;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-teko: 'Teko', sans-serif;
  --font400: 400;
  --font500: 500;
  --font600: 600;
  --font-size-1: 1em;
  --font-size-2: 1.31em;
  --font-size-3: 1.75em;
  --line-height-1: 1.5em;
  --line-height-2: 1.97em;
  --line-height-3: 2.63em;
  --border-radius-1: 0.5em;
  --border-width-1: 0.13em;
  --border-width-2: 0.2em;
}


/*
================
2. Global Styles
================
*/

body {
  background-color: var(--dark-green);
  margin: 0
}

a {
  text-decoration: none;
}

a,
body {
  color: var(--white-f2);
}

main {
  background-color: var(--dark-blue);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.give-margin6 {
  margin: 3rem 0rem;
}

.give-margin6-btm {
  margin-bottom: 6rem;
}

.hdr-5,
.ft-6 {
  white-space: nowrap;
}

/* Hides menu options from the Menubar */
.crt-1,
.act-1 {
  display: none;
}

/*
=============
3. Typography
=============
*/

input,
Body {
  font-family: var(--font-montserrat);
  font-weight: var(--font500);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

.give-h1,
h1 {
  font-weight: var(--font600);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}

.cta-advert,
.cta-explore,
button,
h2 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
}

h3,
.titles {
  font-family: var(--font-teko);
  font-weight: var(--font400);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}

.prices {
  font-family: var(--font-teko);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}


/*
==========
4. Buttons
==========
*/



/*
=========
5. Colors
=========
*/


/*
========
6. Forms
========
*/

/* Hides search bar from main section */
main button,
.mainc-1 {
  display: none;
}

/*
=========
7. Header
=========
*/

/* Sets the background color of the active menu-bar */
.bg-blue {
  background-color: var(--dark-blue);
}

/* Sets the border design of the nav bar */
.hdr-41,
.hdr-42,
.hdr-43,
.hdr-44 {
  border-style: solid;
  border-width: var(--border-width-1);
  border-radius: 25px 25px 0px 0px;
  border-color: var(--dark-blue);
}

.hdr-2,
.hdr-3 {
  display: none;
}

/*
=========
8. Footer
=========
*/


/*
======
9. AD
======
*/


/*
=============
10. Index page
=============
*/

/* Hero image */
.mainc-3 {
  background-image: url(../Images/hero-image-desktop.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: cover;
  min-height: 70vh;
}

/*
==============
11. Games page
==============
*/


/*
==============
12. About page
==============
*/


/*
================
13. Contact page
================
*/


/*
=================
14. Assassin page
=================
*/


/*
=================
15. Checkout page
=================
*/


/*
================
16. Success page
================
*/

/*
========
17. Grid
========
*/


/*
=================
19. Media Queries
=================
*/

@media (max-width: 1299px) {

}

@media (max-width: 480px) {

}
