/*
=================
Table of contents
=================

1. Custom Variables
2. Global Styles
3. Typography
4. Buttons
5. Colors
6. Forms
7. Header
8. Footer
9. Ad
10. Index page
11. Games page
12. About page
13. Contact page
14. Assassin page
15. Checkout page
16. Success page
17. Grid
18. Media Queries
18.1. Hamburger Menu
*/

/*
===================
1. Custom Variables
===================
*/

:root {
  --dark-blue: #1d2540;
  --dark-green: #01403a;
  --white-f2: #f2f2f2;
  --black: #0d0d0d;
  --fancy-green: #1aff00;
  --red: #f3a8a8;
  --light-blue: #2d3e77;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-teko: 'Teko', sans-serif;
  --font400: 400;
  --font500: 500;
  --font600: 600;
  --font-size-1: 1em;
  --font-size-2: 1.31em;
  --font-size-3: 1.75em;
  --line-height-1: 1.5em;
  --line-height-2: 1.97em;
  --line-height-3: 2.63em;
  --border-radius-1: 0.5em;
  --border-width-1: 0.13em;
  --border-width-2: 0.2em;
}


/*
================
2. Global Styles
================
*/


/*
=============
3. Typography
=============
*/

input,
Body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
}

.give-h1,
h1 {
  font-weight: 600;
  font-size: 1.75em;
  line-height: 2.625em;
}

.cta-advert,
.cta-explore,
button,
h2 {
  font-size: 1.3125em;
  line-height: 1.96875em;
}

h3,
.titles {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 2.625em;
}

.prices {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 2.625em;
}


/*
==========
4. Buttons
==========
*/


/*
=========
5. Colors
=========
*/


/*
========
6. Forms
========
*/


/*
=========
7. Header
=========
*/


/*
=========
8. Footer
=========
*/


/*
======
9. AD
======
*/


/*
=============
10. Index page
=============
*/

/*
==============
11. Games page
==============
*/


/*
==============
12. About page
==============
*/


/*
================
13. Contact page
================
*/


/*
=================
14. Assassin page
=================
*/


/*
=================
15. Checkout page
=================
*/


/*
================
16. Success page
================
*/

/*
========
17. Grid
========
*/


/*
=================
19. Media Queries
=================
*/


/*
=================
18.1. Hamburger menu
=================
*/

