/*
=================
Table of contents
=================

1. Global styles
2. Typography
3. Colors
  3.1. Background colors
  3.2. Colors
  3.3. Border colors
4. Images
  4.1. Background images
5. Classes
  5.1. Single-use classes
  5.2. Multi-use classes
6. Buttons
7. Footer
8. Forms
9. Grid
  9.1. Global grids
  9.2. Grid page by page
*/



/*
================
1. Global styles
================
*/

.content-wrap {
  max-width: 600px;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

nav li {
  display: inline-block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}


/*
=============
2. Typography
=============
*/

Body,
input,
select {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
}

h1,
.add-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.75em;
  line-height: 2.625em;
}

h2,
.add-h2,
.cta-explore,
.cta-sale,
.cta-advert,
.btn-link,
.cta-checkout,
.cta-contact {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3125em;
  line-height: 1.96875em;
}

h3,
.titles {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 2.625em;
}

.prices {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 2.625em;
}


/*
=========
3. Colors
=========
*/


/*
----------------------
3.1. Background colors
----------------------
*/

body,
.cta-sale {
  background-color: #01403a;
}

.gc-221, 
.gc-222, 
.gc-223, 
.gc-224, 
.gc-225,
.gc-226, 
.gc-227, 
.gc-228, 
.gc-229, 
.gc-2210,
.srch,
.cta-checkout,
.cta-contact,
.cta-explore,
.btn-link,
main {
  background-color: #1d2540;
}

.cta-advert,
aside {
  background-color: #0d0d0d;
}

.cart,
.pay-logo {
  background-color: #f2f2f2;
}

.gc-22 {
  background-color: #273151;
}


/*
-----------
3.2. Colors
-----------
*/

a,
body,
.cta-contact,
.cta-checkout {
  color: #f2f2f2;
}

.cta-explore,
.add-bright-green,
.btn-link {
  color: #1aff00;
}

::placeholder,
.add-blue {
  color: #1d2540;
}

input,
textarea {
  caret-color: #1aff00;
}


/*
------------------
3.3. Border colors
------------------
*/

.cta-explore,
.btn-link  {
  border-color: #2d3e77;
}

.cta-sale {
  border-color: #f2f2f2;
}

.cta-checkout,
.cta-contact,
.cta-advert {
  border-color: #1aff00;
}


/*
=========
4. images
=========
*/

/* Logo */
.gh-logo,
.gh-logo-switch {
  max-width: 15rem;
}

.gh-logo-switch:active {
  content: url(../images/logo-checked.png);
}

/* Icons */
.icon-cart,
.icon-log,
.social-tw,
.social-li,
.social-fb,
.social-yt,
.social-gt,
.icon {
  max-width: 3rem;
  margin: 0.5rem;
}

.social-tw:active {
  content: url(../images/svg/twitter-circle-green.svg);;
}

.social-li:active {
  content: url(../images/svg/linkedin-circle-green.svg);
}

.social-fb:active {
  content: url(../images/svg/facebook-circle-green.svg);
}

.social-yt:active {
  content: url(../images/svg/youtube-circle-green.svg);
}

.social-gt:active {
  content: url(../images/svg/github-circular-green.svg);
}

.icon-cart:active {
  content: url(../images/svg/cart-green.svg);
}

.icon-log:active {
  content: url(../images/svg/account-login-green.svg);
}

/* pictures */
.games,
.trending,
.new-release {
  max-width: 100%;
  max-height: auto;
  margin-top: 3rem;
}

/* Assassin page */
.playbox {
  max-width: 30.53%;
}

/* Checkout page */
.game-img {
  max-width: 30.7%;
}

.pay-1 {
  max-width: 46.15%;
}

.pay-2 {
  max-width: 26.5%;
}


/*
----------------------
4.1. Background images
----------------------
*/



/*
==========
5. Classes
==========
*/


/*
---------------------
5.1. Single-use classes
---------------------
*/

.cart {
  border-radius: 0.3125rem;
}

.pay-logo {
  max-width: 31.2%;
}


/*
----------------------
5.2. Multi-use classes
----------------------
*/

footer li,
nav li,
.button-remove {
  list-style-type: none;
}

.hero-section {
  white-space: nowrap;
}

.cta-contact,
.disp-bl,
.form__textarea,
.form__input {
  display: block;
}

.btn-link {
  display: inline-block;
}

/*
==========
6. Buttons
==========
*/

/* Index page */
.cta-explore {
  border-style: solid;
  border-width: 0.125em;
  border-radius: 0.3125em;
  padding: 0.625em 1.25em;
  margin-bottom: 6rem;
}

/* Game page and assassin page */
.cta-sale {
  border-style: solid;
  border-width: 0.0625rem;
  border-radius: 0.3125rem;
  padding: 0.35rem 0.7rem;
  margin-bottom: 3rem;
}

/* Advertisment */
.cta-advert {
  border-style: solid;
  border-width: 0.09375rem;
  border-radius: 0.3125rem; 
  padding: 0.625rem 1.5rem;
}

/* About page */
.btn-link {
  border-style: solid;
  border-width: 0.0625rem;
  border-radius: 0.3125rem;
  margin: 0.625rem 0rem;
}

/* Padding for btn-link above to make the links same size */
.padding-2 {
  padding: 0.9375em 1.875em;
}

.padding-1 {
  padding: 0.9375em 2.05em;
}

.padding-3 {
  padding: 0.9375em 2.07em;
}

.cta-checkout,
.cta-contact {
  border-style: solid;
  border-width: 0.0625rem;
  border-radius: 0.3125rem;
  padding: 0.35rem 0.7rem;
}

/*
=========
7. Footer
=========
*/


/*
========
8. Forms
========
*/

.tbl-1 {
  height: 3rem;
  width: 94%;
  border-radius: 0.3125rem;
  margin: 1rem;
}

textarea {
  height: 12rem;
  width: 94.67%;
  border-radius: 0.3125rem;
}

select {
  height: 3rem;
  width: 10%;
  border-radius: 0.3125rem;
}

.ccv {
  height: 3rem;
  width: 16.53%;
  border-radius: 0.3125rem;
}

.btn {
  height: 2rem;
  width: 2rem;
}


/*
=======
9. Grid
=======
*/


/*
-----------------
9.1. Global grids
-----------------
*/

/* Header section */
.top-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr min-content;
}

.top-child-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
  align-self: start;
}

.top-child-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
  align-self: start;
}

.top-child-3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: stretch;
  align-self: stretch;
}


/* Footer Section */

.bottom-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content;
}

.bottom-child-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
}

.bottom-child-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}


/*
-----------------------
9.2. Grids page by page
-----------------------
*/

/* Index Main section */
.main-container {
  display: grid;
  grid-template-columns: 27.2% 45.6% 27.2%;
  grid-template-rows: min-content;
}

.main-child-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main-child-2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.main-child-3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 27.2% 45.6% 27.2%;
  grid-template-rows: repeat(6, min-content);
}


/* Grid for New releases */
  .main-child-3-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.main-child-3-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, min-content);
    gap: 0.5rem;
    justify-items: center;
}

.main-child-3-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, min-content);
    gap: 0.5rem;
    justify-items: center;
}

.main-child-3-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, min-content);
    gap: 0.5rem;
    justify-items: center;
}

.main-child-3-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, min-content);
    gap: 0.5rem;
    justify-items: center;
}

.main-child-3-6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}

.main-child-4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, min-content);
  gap: 0.5rem;
  justify-items: center;
}

/* Grid for Trending now section */
.main-child-4-1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.main-child-4-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
}

.main-child-4-3 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.main-child-4-4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
}

.main-child-4-5 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.main-child-4-6 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.main-child-4-7 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}


/* Games page main section */

.games-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2, min-content;
}

.gc-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gc-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3, min-content;
}

/* Grid for available games section */

.gc-21 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
}

.gc-22 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    gap: 0.5rem;
}

.gc-23 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* Grid inside the above grid to get the background effect */
.gc-2210,
.gc-229,
.gc-228,
.gc-227,
.gc-226,
.gc-225,
.gc-224,
.gc-223,
.gc-222,
.gc-221 {
      display: grid;
      grid-template-columns: 27.5% 45% 27.5%;
      grid-template-rows: repeat(4, min-content);
      justify-items: center;
}

/* Grid inside the above grid to layout products */

/* 
  Assassin      = gc-2211 - gc-2214
  Black         = gc-2221 - gc-2224
  Boxer         = gc-2231 - gc-2234
  Cyberpunk     = gc-2241 - gc-2244
  Forge Legend  = gc-2251 - gc-2254
  Furious       = gc-2261 - gc-2264
  Ping Pong     = gc-2271 - gc-2274
  Racing        = gc-2281 - gc-2284
  Space War     = gc-2291 - gc-2294
  Super Duper   = gc-22101 - gc-22104
*/

.gc-22101,
.gc-2291,
.gc-2281,
.gc-2271,
.gc-2261,
.gc-2251,
.gc-2241,
.gc-2231,
.gc-2221,
.gc-2211 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
}

.gc-22102,
.gc-2292,
.gc-2282,
.gc-2272,
.gc-2262,
.gc-2252,
.gc-2242,
.gc-2232,
.gc-2222,
.gc-2212 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
}

.gc-22103,
.gc-2293,
.gc-2283,
.gc-2273,
.gc-2263,
.gc-2253,
.gc-2243,
.gc-2233,
.gc-2223,
.gc-2213 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
}

.gc-22104,
.gc-2294,
.gc-2284,
.gc-2274,
.gc-2264,
.gc-2254,
.gc-2244,
.gc-2234,
.gc-2224,
.gc-2214 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
}