/*
=================
Table of contents
=================

1. Global styles
2. Typography
3. Colors
  3.1. Background colors
  3.2. Colors
4. Background images
5. Classes
  5.1. Single-use classes
  5.2. Multi-use classes
6. Buttons
7. Footer
8. Forms

*/



/*
================
1. Global styles
================
*/

body {
  background-color: #01403A;
  color: #f2f2f2;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  background-color: #01403A;
}

nav a {
  padding: 15px;
}

.content-wrap {
  margin: 0;
  min-width: 375px;
  max-width: 600px;
}

/*
=============
2. Typography
=============
*/

.font-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3125em;
  line-height: 1.96875em;
}

.font-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3125em;
  line-height: 1.96875em;
}

.font-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.3125em;
  line-height: 3.46875em;
}

.font-4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
}

.font-5 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 2.625em;
}

.font-6 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 2.625em;
}

.font-7 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 4.6875em;
  line-height: 7.03125em;
}

.font-8 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5em;
}

.font-9 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.font-10 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 2.625em;
}

.font-11 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3125em;
  line-height: 1.96875em;
}

.font-12 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.75em;
  line-height: 2.625em;
}


/*
=========
3. Colors
=========
*/


/*
----------------------
3.1. Background colors
----------------------
*/

.bg-blue {
  background-color: #1d2540;
}

.bg-black {
  background-color: #0d0d0d;
}

.bg-green {
  background-color: #01403A;
}

.bg-white {
  background-color: #f2f2f2;
}


/*
-----------
3.2. Colors
-----------
*/

.green {
  color: #1aff00;
}

.green2 {
  color: #01403A;
}

.black {
  color: #0d0d0d;
}

.red {
  color: #f3a8a8;
}

.blue {
  color: #1d2540;
}


/*
====================
4. Background images
====================
*/

/* Index page mobile*/
.hero-image {
  background-image: url(../images/hero-image-mobile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  min-height: 50vh;
}

/* Ad */
.advert {
  background-image: url(../images/todd-trapani-p9Vz9dyNbnU-unsplash\ \(2\)\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: left;
  background-position-y: top;
  min-height: 35vh;
}

/* Assassin page */
.hero-face {
  background-image: url(../images/assassin-cropped-face.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: left;
  background-position-y: top;
  padding: 11.8vh;
}

/* About page */
.about-img {
  background-image: url(../images/about-image.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: left;
  background-position-y: top;
  padding: 10vh;
}


/*
==========
5. Classes
==========
*/


/*
---------------------
5.1. Single-use classes
---------------------
*/

/* Index page */
.cover-index {
  max-width: 45.6%;
}

.cover-carousel {
  max-width: 40%;
}

/* Games page */
.cover-games {
  max-width: 22.67%;
}

/* Checkout page */
.cover-checkout {
  max-width: 29.07%;
}

.width {
  max-width: 14.4%;
}

/* Assassin page */
.pb-icon {
  max-width: 30.53%;
}


/*
----------------------
5.2. Multi-use classes
----------------------
*/

.display-inline {
  display: inline-flex;
}

.form__input {
  display: block;
}


/*
==========
6. Buttons
==========
*/

/* Games page and game page*/
.cta-ad-to-cart {
  border-style: solid;
  background-color: #01403A;
  border-width: 0.1rem;
  border-color: #f2f2f2;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

/* Index page */
.cta-explore {
  background-color: #1d2540;
  color: #1aff00;
  border-style: solid;
  border-color: #2d3e77;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

/* Used on checkout and contact form */
.cta {
  background-color: #1d2540;
  color: #f2f2f2;
  border-width: 0.1rem;
  border-color: #1aff00;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

/* Advertisement */
.cta-advert {
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 0.5rem;
  border-color: #1aff00;
  padding: 0.6rem 1.2rem;
}

/* About page */
.link-about {
  color: #1aff00 ;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #2d3e77;
  border-radius: 0.5rem;
  padding: 1.5rem 4rem;
  margin: 10rem 0rem;
}

/*
=========
7. Footer
=========
*/

/* Removes bullets from listed items*/
.bullet-remove {
  list-style-type: none;
}


/*
========
8. Forms
========
*/

/* Search bar and also used at contact form*/
.bar {
  width: 22.1875rem;
  height: 3rem;
  border-radius: 0.3125rem;
  margin: 0rem 0rem 2.125rem 0rem;
}

/* Contact form */
.msg-bar {
  width: 22.1875rem;
  height: 12rem;
  border-radius: 0.3125rem;
}

/* Radio button */
.btn {
  width: 1.75rem;
  height: 1.75rem;
  margin: 1.875rem 0rem;
}