/*
=================
Table of contents
=================

1. Global styles

2. Typography

3. Colors
  3.1. Background colors
  3.2. Colors

4. Background images

5. Classes

6. Footer
*/



/*
================
1. Global styles
================
*/

body {
  background-color: #01403A;
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  background-color: #01403A;
}

nav a {
  padding: 15px;
}

/*
=============
2. Typography
=============
*/

.font-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3125em;
  line-height: 1.96875em;
}

.font-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3125em;
  line-height: 1.96875em;
}

.font-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.3125em;
  line-height: 3.46875em;
}

.font-4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
}

.font-5 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 2.625em;
}

.font-6 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 2.625em;
}

.font-7 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 4.6875em;
  line-height: 7.03125em;
}

.font-8 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5em;
}

.font-9 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.font-10 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 2.625em;
}

.font-11 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3125em;
  line-height: 1.96875em;
}

.font-12 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.75em;
  line-height: 2.625em;
}

/*
=========
3. Colors
=========
*/


/*
----------------------
3.1. Background colors
----------------------
*/

.bg-blue {
  background-color: #1d2540;
}

.bg-black {
  background-color: #0d0d0d;
}

.bg-green {
  background-color: #01403A;
}

.bg-white {
  background-color: #f2f2f2;
}

/*
-----------
3.2. Colors
-----------
*/

.green {
  color: #1aff00;
}

.green2 {
  color: #01403A;
}

.black {
  color: #0d0d0d;
}

.red {
  color: #f3a8a8;
}

.blue {
  color: #1d2540;
}

/*
====================
4. Background images
====================
*/

/* Index page mobile*/
.hero-image {
  background-image: url(../images/hero-image-mobile.jpg);
    background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  min-height: 50vh;
}

/* Ad */
.advert {
  background-image: url(../images/todd-trapani-p9Vz9dyNbnU-unsplash\ \(2\)\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: left;
  background-position-y: top;
  min-height: 35vh;
}

/* Assassin page */
.hero-face {
  background-image: url(../images/assassin-cropped-face.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
  padding: 25vh;
}

/* About page */
.about-img {
  background-image: url(../images/harsh-rhZf5tE-l_o-unsplash\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: left;
  background-position-y: top;
  padding: 10vh;
}

/*
==========
5. Classes
==========
*/

/* Cover images at index page*/
.cover-img {
  max-width: 58.4%;
}

/*
=========
6. Footer
=========
*/

.media-icons {
  display: inline-flex;
}

/* Removes bullets from listed items*/
.bullet-remove {
  list-style-type: none;
}