/*
=================
Table of contents
=================

1. Custom Variables
2. Global Styles
3. Typography
4. Buttons
5. Colors
6. Forms
7. Header
8. Footer
9. Ad
10. Index page
11. Games page
12. About page
13. Contact page
14. Assassin page
15. Checkout page
16. Success page
17. Grid
18. Media Queries
18.1. Hamburger Menu
*/

/*
===================
1. Custom Variables
===================
*/

:root {
  --dark-blue: #1d2540;
  --dark-green: #01403a;
  --white-f2: #f2f2f2;
  --black: #0d0d0d;
  --fancy-green: #1aff00;
  --red: #f3a8a8;
  --light-blue: #2d3e77;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-teko: 'Teko', sans-serif;
  --font400: 400;
  --font500: 500;
  --font600: 600;
  --font-size-1: 1em;
  --font-size-2: 1.31em;
  --font-size-3: 1.75em;
  --line-height-1: 1.5em;
  --line-height-2: 1.97em;
  --line-height-3: 2.63em;
  --border-radius-1: 0.5em;
  --border-width-1: 0.13em;
  --border-width-2: 0.2em;
}


/*
================
2. Global Styles
================
*/

body {
  background-color: var(--dark-green);
  margin: 0
}

a {
  text-decoration: none;
}

a,
body {
  color: var(--white-f2);
}

main {
  background-color: var(--dark-blue);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.give-margin6 {
  margin: 3rem 0rem;
}

.give-margin6-btm {
  margin-bottom: 6rem;
}

.hdr-5,
.ft-6 {
  white-space: nowrap;
}

/* Hides menu options from the Menubar */
.crt-1,
.act-1 {
  display: none;
}

/*
=============
3. Typography
=============
*/

input,
Body {
  font-family: var(--font-montserrat);
  font-weight: var(--font500);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

.give-h1,
h1 {
  font-weight: var(--font600);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}

.cta-advert,
.cta-explore,
button,
h2 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
}

h3,
.titles {
  font-family: var(--font-teko);
  font-weight: var(--font400);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}

.prices {
  font-family: var(--font-teko);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}


/*
==========
4. Buttons
==========
*/

.cta-explore {
  background-color: var(--dark-blue);
  border-style: solid;
  border-width: 0.125em;
  border-color: var(--light-blue);
  border-radius: 0.5em;
  padding: 0.625em 1.25em;
  color: var(--fancy-green);
  text-align: center;
  text-transform: uppercase;
}

.cta-advert {
  border-style: solid;
  border-width: 0.125em;
  border-color: var(--fancy-green);
  border-radius: 0.5em;
  padding: 0.5em 1em;
}



/*
=========
5. Colors
=========
*/

.add-fancy,
.active:active{
  color: var(--fancy-green);
}

/*
========
6. Forms
========
*/
.form-2 {
  height: 3rem;
  width: 95%;
  border-radius: var(--border-radius-1);
}

/* Search buttons */
.src-btn {
  height: 3rem;
  width: 4rem;
  border-radius: 0.5rem;
  background-color: var(--white-f2);
  text-transform: uppercase;
  color: var(--dark-blue);
  border-style: solid;
  border-width: 0.2rem;
  border-color: var(--fancy-green);
}

input {
  caret-color: var(--dark-blue);
  color: var(--dark-blue);
}

/* Hides search bar from main section */
main button,
.mainc-1 {
  display: none;
}

/*
=========
7. Header
=========
*/

nav a {
  text-transform: uppercase;
}

/* Sets the background color of the active menu-bar */
.bg-blue {
  background-color: var(--dark-blue);
}

/* Sets the design of the nav bar */
.hdr-41,
.hdr-42,
.hdr-43,
.hdr-44 {
  padding: 1rem 0rem;
  border-style: solid;
  border-width: var(--border-width-1);
  border-radius: 25px 25px 0px 0px;
  border-color: var(--dark-blue);
}

.hdr-2,
.hdr-3 {
  display: none;
}

.gh-logo{
  max-width: 100%;
}

.gh-logo:active {
  content: url(../images/logo-checked.png);
}

/*
=========
8. Footer
=========
*/


.ft-1 {
  margin-top: 1rem;
}

footer li {
  list-style-type: none;
  margin-left: 0.5rem
}

footer ul {
  padding: 0;
}

.social-tw:active {
  content: url(../Images/svg/twitter-circle-green.svg);
}

.social-li:active {
  content: url(../Images/svg/linkedin-circle-green.svg);
}

.social-fb:active {
  content: url(../Images/svg/facebook-circle-green.svg);
}

.social-yt:active {
  content: url(../Images/svg/youtube-circle-green.svg);
}

.social-gt:active {
  content: url(../Images/svg/github-circular-green.svg);
}



/*
======
9. AD
======
*/


/*
=============
10. Index page
=============
*/

/* Hero image */
.mainc-3 {
  background-image: url(../Images/hero-image-desktop.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: cover;
  min-height: 70vh;
}

/*
==============
11. Games page
==============
*/


/*
==============
12. About page
==============
*/


/*
================
13. Contact page
================
*/


/*
=================
14. Assassin page
=================
*/


/*
=================
15. Checkout page
=================
*/


/*
================
16. Success page
================
*/

/*
========
17. Grid
========
*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, min-content);
}

header {
  grid-column-start: 2;
  grid-column-end: 12;
  display: grid;
  grid-template-columns: repeat(12, 8.33%);
  grid-template-rows: 1fr min-content min-content;
}

main {
  grid-column-start: 2;
  grid-column-end: 12;
  display: grid;
  grid-template-columns: repeat(12, 8.33%);
  grid-template-rows: repeat(4, min-content);
}

footer {
  grid-column-start: 2;
  grid-column-end: 12;
  display: grid;
  grid-template-columns: 25% 10% 10% 10% 10% 10% 25%;
  grid-template-rows: min-content;
}

/* This is the grid directly beneath Header! */

.hdr-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.hdr-2,
.hdr-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* Nav Bar */
.hdr-4 {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: 1fr;
  text-align: center;
}

/* Positions the links in the top right corner */
.hdr-5 {
  margin: 1rem 1rem 0rem 0rem;
  display: inline-flex;
  gap: 1rem;
  justify-self: end;
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hdr-7 {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: start;
  text-align: center;
}

.hdr-8 {
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: start;
  justify-self: start;
}

/* Nav bar */
.hdr-41 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hdr-42 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hdr-43 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hdr-44 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

/*
=================
19. Media Queries
=================
*/

/* //////// MAX 1299 PX \\\\\\\\ */
@media (max-width: 1300px) {

  /* Hides search-bar from Header section */
  .hdr-8,
  .hdr-7 {
    display: none;
  }

  /* Sets the position to remove the wrap from smaller screens */
  div header {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-template-rows: min-content min-content min-content;
  }

  main {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  footer {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  /* Grid Nav bar */
  .hdr-41 {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 0;
  }

  .hdr-42 {
    grid-column-start: 3;
    grid-column-end: 5;
    border-radius: 0;
  }

  .hdr-43 {
    grid-column-start: 5;
    grid-column-end: 7;
    border-radius: 0;
  }

  .hdr-44 {
    grid-column-start: 7;
    grid-column-end: 9;
    border-radius: 0;
}

  .hdr-41,
  .hdr-42,
  .hdr-43,
  .hdr-44 {
    background-color: var(--dark-green);
  }

  #fancy-green {
    color: var(--fancy-green);
  }

}

/* //////// MAX 480 PX \\\\\\\\ */
@media (max-width: 480px) {

  .hdr-5 {
    display: none;
  }

  .hdr-3 {
    display: block;
  }
  
  .hdr-1 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-end: 2;
  }

/*
--------------------
18.1. Hamburger menu
=================
*/

}